<!DOCTYPE html>
<html>
  <head>
    <title>Import Parameters</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
  <body>
    <div class="testbox">
      <form method="post">
        <div class="colums">
          <div class="item">
            <label for="center_param">Center Document Name<span>*</span></label>
            <input id="center_param" type="text" name="center_param" required/>
          </div>
          <div class="item">
            <label for="lang_param">Language<span>*</span></label>
            <input id="lang_param" type="text" name="lang_param" required/>
          </div>
          <div class="item">
            <label for="radius_param">Radius<span>*</span></label>
            <input id="radius_param" type="number" name="radius_param" required/>
          </div>
          <div class="item">
            <label for="categories_param">categories<span>*</span></label>
            <input id="categories_param" type="text" name="categories_param" required/>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>