<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
  <body>
    <div class="testbox">
      <form method="post" id="queryForm">
        <div class="colums">
          <div class="item">
            <label for="query">Query<span>*</span></label>
            <textarea id="query" rows="30" cols="60" name="query" required>{% if invalid_json %}Invalid JSON Provided. Please check your syntax and try again.{% endif %}</textarea>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>